USE [master]
GO
/****** Object:  Database [PMA]    Script Date: 10/1/2025 2:47:22 PM ******/
CREATE DATABASE [PMA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PMA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PMA.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PMA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PMA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PMA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PMA]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/1/2025 2:47:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Actions]    Script Date: 10/1/2025 2:47:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Category] [nvarchar](100) NOT NULL,
	[Resource] [nvarchar](50) NOT NULL,
	[Action] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Actions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CalendarEventAssignments]    Script Date: 10/1/2025 2:47:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CalendarEventAssignments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CalendarEventId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_CalendarEventAssignments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CalendarEvents]    Script Date: 10/1/2025 2:47:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CalendarEvents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NULL,
	[Type] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Priority] [nvarchar](20) NOT NULL,
	[ProjectId] [int] NULL,
	[RequirementId] [int] NULL,
	[SprintId] [int] NULL,
	[Location] [nvarchar](500) NULL,
	[IsAllDay] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatorId] [int] NULL,
 CONSTRAINT [PK_CalendarEvents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 10/1/2025 2:47:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lookups]    Script Date: 10/1/2025 2:47:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lookups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Value] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[NameAr] [nvarchar](100) NULL,
	[Order] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Lookups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MawaredEmployees]    Script Date: 10/1/2025 2:47:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MawaredEmployees](
	[Id] [int] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[MilitaryNumber] [nvarchar](max) NOT NULL,
	[GradeName] [nvarchar](max) NOT NULL,
	[StatusId] [int] NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberTaskAssignments]    Script Date: 10/1/2025 2:47:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberTaskAssignments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MemberTaskId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_MemberTaskAssignments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberTasks]    Script Date: 10/1/2025 2:47:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberTasks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
	[Progress] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Priority] [nvarchar](50) NOT NULL,
	[DepartmentId] [int] NULL,
	[ProjectId] [int] NULL,
	[RequirementId] [int] NULL,
	[PrimaryAssigneeId] [int] NULL,
	[TimeSpent] [int] NOT NULL,
	[EstimatedTime] [int] NOT NULL,
	[Tags] [nvarchar](500) NULL,
	[IsOverdue] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_MemberTasks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 10/1/2025 2:47:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Type] [int] NOT NULL,
	[Priority] [int] NOT NULL,
	[UserId] [int] NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ReadAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectAnalysts]    Script Date: 10/1/2025 2:47:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectAnalysts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProjectId] [int] NULL,
	[AnalystId] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_ProjectAnalysts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectRequirementAttachments]    Script Date: 10/1/2025 2:47:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectRequirementAttachments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProjectRequirementId] [int] NOT NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[OriginalName] [nvarchar](255) NOT NULL,
	[FilePath] [nvarchar](500) NULL,
	[FileSize] [bigint] NOT NULL,
	[ContentType] [nvarchar](100) NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ProjectRequirementAttachments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectRequirements]    Script Date: 10/1/2025 2:47:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectRequirements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProjectId] [int] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[Priority] [int] NOT NULL,
	[Type] [int] NOT NULL,
	[ExpectedCompletionDate] [datetime2](7) NULL,
	[Status] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[AssignedAnalyst] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[CreatorId] [int] NULL,
	[AnalystId] [int] NULL,
 CONSTRAINT [PK_ProjectRequirements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 10/1/2025 2:47:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationName] [nvarchar](200) NOT NULL,
	[ProjectOwner] [nvarchar](100) NOT NULL,
	[AlternativeOwner] [nvarchar](100) NOT NULL,
	[OwningUnit] [nvarchar](100) NOT NULL,
	[ProjectOwnerId] [int] NOT NULL,
	[AlternativeOwnerId] [int] NULL,
	[OwningUnitId] [int] NOT NULL,
	[Analysts] [nvarchar](max) NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[ExpectedCompletionDate] [datetime2](7) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Remarks] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[Priority] [int] NOT NULL,
	[Budget] [decimal](18, 2) NOT NULL,
	[Progress] [int] NOT NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequirementComments]    Script Date: 10/1/2025 2:47:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequirementComments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RequirementId] [int] NOT NULL,
	[Comment] [nvarchar](max) NOT NULL,
	[CreatedById] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_RequirementComments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Requirements]    Script Date: 10/1/2025 2:47:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requirements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Type] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Priority] [int] NOT NULL,
	[ProjectId] [int] NULL,
	[AssignedToId] [int] NULL,
	[DueDate] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Requirements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequirementTasks]    Script Date: 10/1/2025 2:47:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequirementTasks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProjectRequirementId] [int] NOT NULL,
	[DeveloperId] [int] NULL,
	[QcId] [int] NULL,
	[DesignerId] [int] NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[DeveloperStartDate] [datetime] NULL,
	[DeveloperEndDate] [datetime] NULL,
	[QcStartDate] [datetime] NULL,
	[QcEndDate] [datetime] NULL,
	[DesignerStartDate] [datetime] NULL,
	[DesignerEndDate] [datetime] NULL,
	[CreatorId] [int] NULL,
 CONSTRAINT [PK_RequirementTasks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleActions]    Script Date: 10/1/2025 2:47:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleActions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[ActionId] [int] NOT NULL,
	[AssignedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_RoleActions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 10/1/2025 2:47:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[RoleOrder] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sprints]    Script Date: 10/1/2025 2:47:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sprints](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[Status] [int] NOT NULL,
	[ProjectId] [int] NULL,
	[TimelineId] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Sprints] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubTasks]    Script Date: 10/1/2025 2:47:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubTasks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TreeId] [nvarchar](50) NOT NULL,
	[TaskId] [int] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[AssigneeId] [int] NULL,
	[AssigneeName] [nvarchar](100) NULL,
	[StatusId] [int] NOT NULL,
	[PriorityId] [int] NULL,
	[DepartmentId] [int] NULL,
	[EstimatedHours] [int] NULL,
	[ActualHours] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_SubTasks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskAssignments]    Script Date: 10/1/2025 2:47:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskAssignments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TaskId] [int] NOT NULL,
	[PrsId] [int] NOT NULL,
	[AssignedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskDependencies]    Script Date: 10/1/2025 2:47:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskDependencies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TaskId] [int] NOT NULL,
	[DependsOnTaskId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 10/1/2025 2:47:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SprintId] [int] NOT NULL,
	[TypeId] [int] NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[StatusId] [int] NOT NULL,
	[PriorityId] [int] NOT NULL,
	[DepartmentId] [int] NULL,
	[EstimatedHours] [decimal](5, 2) NULL,
	[ActualHours] [decimal](5, 2) NULL,
	[Dependencies] [nvarchar](max) NULL,
	[Progress] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[ProjectId] [int] NULL,
	[TimelineId] [int] NULL,
	[ProjectRequirementId] [int] NULL,
 CONSTRAINT [PK_Tasks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teams]    Script Date: 10/1/2025 2:47:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PrsId] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[JoinDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Teams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Timelines]    Script Date: 10/1/2025 2:47:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Timelines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProjectId] [int] NULL,
	[ProjectRequirementId] [int] NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Timelines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Units]    Script Date: 10/1/2025 2:47:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Units](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[ParentId] [int] NULL,
	[Level] [int] NULL,
	[Path] [nvarchar](max) NULL,
	[Code] [nvarchar](50) NULL,
 CONSTRAINT [PK_Units] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserActions]    Script Date: 10/1/2025 2:47:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserActions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ActionId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[AssignedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_UserActions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 10/1/2025 2:47:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[AssignedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/1/2025 2:47:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[PrsId] [int] NOT NULL,
	[IsVisible] [bit] NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[MilitaryNumber] [nvarchar](max) NOT NULL,
	[GradeName] [nvarchar](max) NOT NULL,
	[Department] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[DepartmentId] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250915164401_InitialBaseline', N'8.0.0')
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250915164702_RemoveTeamsTable', N'8.0.0')
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250915164722_AddTeamsTable', N'8.0.0')
GO
SET IDENTITY_INSERT [dbo].[Actions] ON 
GO
INSERT [dbo].[Actions] ([Id], [Name], [Description], [Category], [Resource], [Action], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'users.create', N'Create new users', N'User Management', N'users', N'create', 1, CAST(N'2024-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2024-08-30T07:30:00.0000000' AS DateTime2))
GO
INSERT [dbo].[Actions] ([Id], [Name], [Description], [Category], [Resource], [Action], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'users.read', N'View user information', N'User Management', N'users', N'read', 1, CAST(N'2024-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2024-08-30T07:30:00.0000000' AS DateTime2))
GO
INSERT [dbo].[Actions] ([Id], [Name], [Description], [Category], [Resource], [Action], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, N'users.update', N'Update user information', N'User Management', N'users', N'update', 1, CAST(N'2024-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2024-08-30T07:30:00.0000000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Actions] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 
GO
INSERT [dbo].[Departments] ([Id], [Name], [Description], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'Operations Department', N'Operations and Maintenance Department', 1, CAST(N'2025-09-12T22:46:14.8366667' AS DateTime2), CAST(N'2025-09-12T22:46:14.8366667' AS DateTime2))
GO
INSERT [dbo].[Departments] ([Id], [Name], [Description], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'Quality Department', N'Quality Assurance Department', 1, CAST(N'2025-09-12T22:46:14.8366667' AS DateTime2), CAST(N'2025-09-12T22:46:14.8366667' AS DateTime2))
GO
INSERT [dbo].[Departments] ([Id], [Name], [Description], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, N'الإدارة العامة', N'وصف للإدارة العامة', 1, CAST(N'2025-09-13T10:01:54.6291670' AS DateTime2), CAST(N'2025-09-13T10:01:54.6291670' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Lookups] ON 
GO
INSERT [dbo].[Lookups] ([Id], [Code], [Value], [Name], [NameAr], [Order], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'ProjectStatus', 1, N'New', N'جديد', 1, 1, NULL, NULL)
GO
INSERT [dbo].[Lookups] ([Id], [Code], [Value], [Name], [NameAr], [Order], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'ProjectStatus', 2, N'Under Study', N'قيد الدراسة', 2, 1, NULL, NULL)
GO
INSERT [dbo].[Lookups] ([Id], [Code], [Value], [Name], [NameAr], [Order], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, N'ProjectStatus', 3, N'Under Development', N'قيد التطوير', 3, 1, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Lookups] OFF
GO
INSERT [dbo].[MawaredEmployees] ([Id], [UserName], [FullName], [MilitaryNumber], [GradeName], [StatusId]) VALUES (1, N'hamdy.ali', N'John Smith', N'MIL001234', N'Captain', 1)
GO
INSERT [dbo].[MawaredEmployees] ([Id], [UserName], [FullName], [MilitaryNumber], [GradeName], [StatusId]) VALUES (2, N'mdavis', N'Michael Davis', N'MIL002345', N'Lieutenant', 1)
GO
INSERT [dbo].[MawaredEmployees] ([Id], [UserName], [FullName], [MilitaryNumber], [GradeName], [StatusId]) VALUES (3, N'sjohnson', N'Sarah Johnson', N'MIL003456', N'Major', 1)
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 
GO
INSERT [dbo].[Notifications] ([Id], [Title], [Message], [Type], [Priority], [UserId], [IsRead], [CreatedAt], [ReadAt]) VALUES (2, N'Project Sent for Review', N'Project "منصة التجارة الإلكترونية" has been sent for review', 1, 2, 5, 0, CAST(N'2025-09-15T15:34:20.7658690' AS DateTime2), NULL)
GO
INSERT [dbo].[Notifications] ([Id], [Title], [Message], [Type], [Priority], [UserId], [IsRead], [CreatedAt], [ReadAt]) VALUES (3, N'Project Sent for Review', N'Project "نظام إدارة الموارد" has been sent for review', 1, 2, 3, 0, CAST(N'2025-09-15T15:34:57.7910114' AS DateTime2), NULL)
GO
INSERT [dbo].[Notifications] ([Id], [Title], [Message], [Type], [Priority], [UserId], [IsRead], [CreatedAt], [ReadAt]) VALUES (4, N'Project Sent for Review', N'Project "نظام إدارة الموارد" has been sent for review', 1, 2, 4, 0, CAST(N'2025-09-15T15:34:57.9538373' AS DateTime2), NULL)
GO
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[ProjectAnalysts] ON 
GO
INSERT [dbo].[ProjectAnalysts] ([Id], [ProjectId], [AnalystId], [CreatedAt]) VALUES (1, 7, 6, NULL)
GO
INSERT [dbo].[ProjectAnalysts] ([Id], [ProjectId], [AnalystId], [CreatedAt]) VALUES (8, 6, 2, NULL)
GO
INSERT [dbo].[ProjectAnalysts] ([Id], [ProjectId], [AnalystId], [CreatedAt]) VALUES (9, 6, 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[ProjectAnalysts] OFF
GO
SET IDENTITY_INSERT [dbo].[ProjectRequirementAttachments] ON 
GO
INSERT [dbo].[ProjectRequirementAttachments] ([Id], [ProjectRequirementId], [FileName], [OriginalName], [FilePath], [FileSize], [ContentType], [UploadedAt]) VALUES (18, 16, N'e27b6dbd-a2ff-4a1f-9bc8-f279ec894e89.xlsx', N'1758823553-contact (1).xlsx', N'uploads/requirements/16/e27b6dbd-a2ff-4a1f-9bc8-f279ec894e89.xlsx', 27488, N'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', CAST(N'2025-09-28T14:22:41.8704746' AS DateTime2))
GO
INSERT [dbo].[ProjectRequirementAttachments] ([Id], [ProjectRequirementId], [FileName], [OriginalName], [FilePath], [FileSize], [ContentType], [UploadedAt]) VALUES (19, 16, N'6b9e3790-0ca5-48c9-a6d5-3dd82199d934.pdf', N'AccountStatement_AUG_2025 (6).pdf', N'uploads/requirements/16/6b9e3790-0ca5-48c9-a6d5-3dd82199d934.pdf', 55819, N'application/pdf', CAST(N'2025-09-28T14:22:41.8727774' AS DateTime2))
GO
INSERT [dbo].[ProjectRequirementAttachments] ([Id], [ProjectRequirementId], [FileName], [OriginalName], [FilePath], [FileSize], [ContentType], [UploadedAt]) VALUES (20, 16, N'7c5fd128-bfc2-4e8f-85a6-991a47bd0a45.jpg', N'download.jpg', N'uploads/requirements/16/7c5fd128-bfc2-4e8f-85a6-991a47bd0a45.jpg', 1305, N'image/jpeg', CAST(N'2025-09-28T14:22:41.8761866' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[ProjectRequirementAttachments] OFF
GO
SET IDENTITY_INSERT [dbo].[ProjectRequirements] ON 
GO
INSERT [dbo].[ProjectRequirements] ([Id], [ProjectId], [Name], [Description], [Priority], [Type], [ExpectedCompletionDate], [Status], [CreatedBy], [AssignedAnalyst], [CreatedAt], [UpdatedAt], [CreatorId], [AnalystId]) VALUES (6, 6, N'User Authentication System', N'<p><span style="color: rgb(206, 145, 120);">User Authentication System</span></p>', 1, 1, CAST(N'2025-09-28T00:00:00.0000000' AS DateTime2), 4, 0, NULL, CAST(N'2025-09-26T17:48:25.3098203' AS DateTime2), CAST(N'2025-10-01T08:41:54.2124721' AS DateTime2), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[ProjectRequirements] OFF
GO
SET IDENTITY_INSERT [dbo].[Projects] ON 
GO
SET IDENTITY_INSERT [dbo].[Projects] OFF
GO
SET IDENTITY_INSERT [dbo].[RequirementTasks] ON 
GO
SET IDENTITY_INSERT [dbo].[RequirementTasks] OFF
GO
SET IDENTITY_INSERT [dbo].[RoleActions] ON 
GO
INSERT [dbo].[RoleActions] ([Id], [RoleId], [ActionId], [AssignedAt]) VALUES (106, 1, 1, CAST(N'2025-09-13T10:46:36.9133333' AS DateTime2))
GO
INSERT [dbo].[RoleActions] ([Id], [RoleId], [ActionId], [AssignedAt]) VALUES (107, 1, 2, CAST(N'2025-09-13T10:46:36.9133333' AS DateTime2))
GO
INSERT [dbo].[RoleActions] ([Id], [RoleId], [ActionId], [AssignedAt]) VALUES (108, 1, 3, CAST(N'2025-09-13T10:46:36.9133333' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[RoleActions] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 
GO
INSERT [dbo].[Roles] ([Id], [Name], [Description], [IsActive], [RoleOrder], [CreatedAt], [UpdatedAt]) VALUES (1, N'Administrator', N'Full system access and user management', 1, 1, CAST(N'2024-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2024-08-30T07:30:00.0000000' AS DateTime2))
GO
INSERT [dbo].[Roles] ([Id], [Name], [Description], [IsActive], [RoleOrder], [CreatedAt], [UpdatedAt]) VALUES (2, N'Analyst Department Manager', N'Manages analyst department and requirements', 1, 2, CAST(N'2024-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2024-08-30T07:30:00.0000000' AS DateTime2))
GO
INSERT [dbo].[Roles] ([Id], [Name], [Description], [IsActive], [RoleOrder], [CreatedAt], [UpdatedAt]) VALUES (3, N'Analyst', N'Works on requirements and tasks as assigned', 1, 3, CAST(N'2024-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2024-08-30T07:30:00.0000000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Sprints] ON 
GO
INSERT [dbo].[Sprints] ([Id], [Name], [Description], [StartDate], [EndDate], [Status], [ProjectId], [TimelineId], [CreatedAt], [UpdatedAt]) VALUES (1, N's1', N's1', CAST(N'2001-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2001-02-01T00:00:00.0000000' AS DateTime2), 1, 6, 10, CAST(N'2001-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2001-01-01T00:00:00.0000000' AS DateTime2))
GO
INSERT [dbo].[Sprints] ([Id], [Name], [Description], [StartDate], [EndDate], [Status], [ProjectId], [TimelineId], [CreatedAt], [UpdatedAt]) VALUES (2, N'asd', N'asd', CAST(N'2025-09-03T00:00:00.0000000' AS DateTime2), CAST(N'2025-09-11T00:00:00.0000000' AS DateTime2), 1, 6, 9, CAST(N'2025-09-30T07:13:19.5061784' AS DateTime2), CAST(N'2025-09-30T07:13:19.5061786' AS DateTime2))
GO
INSERT [dbo].[Sprints] ([Id], [Name], [Description], [StartDate], [EndDate], [Status], [ProjectId], [TimelineId], [CreatedAt], [UpdatedAt]) VALUES (4, N't1', N'at', CAST(N'2025-09-01T00:00:00.0000000' AS DateTime2), CAST(N'2025-09-17T00:00:00.0000000' AS DateTime2), 1, 14, 11, CAST(N'2025-09-30T07:16:27.6818151' AS DateTime2), CAST(N'2025-09-30T07:16:27.6818151' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Sprints] OFF
GO
SET IDENTITY_INSERT [dbo].[TaskAssignments] ON 
GO
INSERT [dbo].[TaskAssignments] ([Id], [TaskId], [PrsId], [AssignedAt]) VALUES (3, 2, 3, CAST(N'2025-10-01T10:43:14.0517111' AS DateTime2))
GO
INSERT [dbo].[TaskAssignments] ([Id], [TaskId], [PrsId], [AssignedAt]) VALUES (4, 2, 6, CAST(N'2025-10-01T10:43:14.0798764' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[TaskAssignments] OFF
GO
SET IDENTITY_INSERT [dbo].[TaskDependencies] ON 
GO
INSERT [dbo].[TaskDependencies] ([Id], [TaskId], [DependsOnTaskId], [CreatedAt]) VALUES (2, 2, 4, CAST(N'2025-10-01T10:04:04.2366269' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[TaskDependencies] OFF
GO
SET IDENTITY_INSERT [dbo].[Tasks] ON 
GO
INSERT [dbo].[Tasks] ([Id], [SprintId], [TypeId], [Name], [Description], [StartDate], [EndDate], [StatusId], [PriorityId], [DepartmentId], [EstimatedHours], [ActualHours], [Dependencies], [Progress], [CreatedAt], [UpdatedAt], [ProjectId], [TimelineId], [ProjectRequirementId]) VALUES (2, 4, 1, N'task1', N'task1', CAST(N'2025-09-01T00:00:00.0000000' AS DateTime2), CAST(N'2025-09-06T00:00:00.0000000' AS DateTime2), 2, 3, 2, NULL, NULL, NULL, 0, CAST(N'2025-09-30T10:45:34.1400157' AS DateTime2), CAST(N'2025-10-01T10:43:13.7687808' AS DateTime2), NULL, 11, NULL)
GO
INSERT [dbo].[Tasks] ([Id], [SprintId], [TypeId], [Name], [Description], [StartDate], [EndDate], [StatusId], [PriorityId], [DepartmentId], [EstimatedHours], [ActualHours], [Dependencies], [Progress], [CreatedAt], [UpdatedAt], [ProjectId], [TimelineId], [ProjectRequirementId]) VALUES (3, 4, 1, N'task2', N'task2', CAST(N'2025-09-02T00:00:00.0000000' AS DateTime2), CAST(N'2025-09-13T00:00:00.0000000' AS DateTime2), 3, 3, 2, NULL, NULL, NULL, 0, CAST(N'2025-09-30T10:46:02.4786927' AS DateTime2), CAST(N'2025-09-30T10:46:02.4786928' AS DateTime2), NULL, 11, NULL)
GO
INSERT [dbo].[Tasks] ([Id], [SprintId], [TypeId], [Name], [Description], [StartDate], [EndDate], [StatusId], [PriorityId], [DepartmentId], [EstimatedHours], [ActualHours], [Dependencies], [Progress], [CreatedAt], [UpdatedAt], [ProjectId], [TimelineId], [ProjectRequirementId]) VALUES (4, 13, 1, N'Qc task', N'Qc task', CAST(N'2025-09-15T00:00:00.0000000' AS DateTime2), CAST(N'2025-09-30T00:00:00.0000000' AS DateTime2), 2, 3, 1, NULL, NULL, NULL, 0, CAST(N'2025-09-30T10:46:57.2406617' AS DateTime2), CAST(N'2025-10-01T10:03:24.5810508' AS DateTime2), NULL, 11, NULL)
GO
SET IDENTITY_INSERT [dbo].[Tasks] OFF
GO
SET IDENTITY_INSERT [dbo].[Teams] ON 
GO
INSERT [dbo].[Teams] ([Id], [PrsId], [DepartmentId], [JoinDate], [IsActive], [CreatedBy], [CreatedAt], [UpdatedAt]) VALUES (1, 2, 1, CAST(N'2025-09-15T16:52:17.3431835' AS DateTime2), 0, 1, CAST(N'2025-09-15T16:52:17.3449261' AS DateTime2), CAST(N'2025-09-16T17:00:48.0247655' AS DateTime2))
GO
INSERT [dbo].[Teams] ([Id], [PrsId], [DepartmentId], [JoinDate], [IsActive], [CreatedBy], [CreatedAt], [UpdatedAt]) VALUES (2, 7, 1, CAST(N'2025-09-16T16:36:06.7387591' AS DateTime2), 0, 1, CAST(N'2025-09-16T16:36:06.7407834' AS DateTime2), CAST(N'2025-09-16T17:01:46.3103594' AS DateTime2))
GO
INSERT [dbo].[Teams] ([Id], [PrsId], [DepartmentId], [JoinDate], [IsActive], [CreatedBy], [CreatedAt], [UpdatedAt]) VALUES (3, 4, 2, CAST(N'2025-09-16T16:40:31.7017955' AS DateTime2), 0, 1, CAST(N'2025-09-16T16:40:31.7038279' AS DateTime2), CAST(N'2025-09-16T17:10:59.5382006' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Teams] OFF
GO
SET IDENTITY_INSERT [dbo].[Timelines] ON 
GO
INSERT [dbo].[Timelines] ([Id], [ProjectId], [ProjectRequirementId], [Name], [Description], [StartDate], [EndDate], [CreatedAt], [UpdatedAt]) VALUES (11, 14, 23, N'Project timeline', N'<p>Project timeline</p>', CAST(N'2025-09-01T00:00:00.0000000' AS DateTime2), CAST(N'2025-09-30T00:00:00.0000000' AS DateTime2), CAST(N'2025-09-30T06:16:10.5261588' AS DateTime2), CAST(N'2025-10-01T03:42:34.6609962' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Timelines] OFF
GO
SET IDENTITY_INSERT [dbo].[Units] ON 
GO
INSERT [dbo].[Units] ([Id], [Name], [Description], [IsActive], [CreatedAt], [UpdatedAt], [ParentId], [Level], [Path], [Code]) VALUES (1, N'Global Headquarters', N'Main corporate headquarters overseeing all operations worldwide', 1, CAST(N'2023-01-15T08:00:00.0000000' AS DateTime2), CAST(N'2024-12-01T10:30:00.0000000' AS DateTime2), NULL, 0, N'1', N'a')
GO
INSERT [dbo].[Units] ([Id], [Name], [Description], [IsActive], [CreatedAt], [UpdatedAt], [ParentId], [Level], [Path], [Code]) VALUES (2, N'North America Division', N'Regional division covering United States, Canada, and Mexico', 1, CAST(N'2023-01-15T09:15:00.0000000' AS DateTime2), CAST(N'2024-11-28T14:22:00.0000000' AS DateTime2), NULL, 0, N'2', N'a')
GO
INSERT [dbo].[Units] ([Id], [Name], [Description], [IsActive], [CreatedAt], [UpdatedAt], [ParentId], [Level], [Path], [Code]) VALUES (3, N'Europe Division', N'Regional division covering European operations', 1, CAST(N'2023-01-15T10:30:00.0000000' AS DateTime2), CAST(N'2024-11-25T16:45:00.0000000' AS DateTime2), NULL, 0, N'3', N'a')
GO
SET IDENTITY_INSERT [dbo].[Units] OFF
GO
SET IDENTITY_INSERT [dbo].[UserActions] ON 
GO
INSERT [dbo].[UserActions] ([Id], [UserId], [ActionId], [IsActive], [AssignedAt]) VALUES (108, 1, 1, 1, CAST(N'2025-09-21T14:52:47.4025994' AS DateTime2))
GO
INSERT [dbo].[UserActions] ([Id], [UserId], [ActionId], [IsActive], [AssignedAt]) VALUES (127, 1, 4, 1, CAST(N'2025-09-21T14:52:47.4160159' AS DateTime2))
GO
INSERT [dbo].[UserActions] ([Id], [UserId], [ActionId], [IsActive], [AssignedAt]) VALUES (158, 1, 2, 1, CAST(N'2025-09-21T14:52:47.4160159' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[UserActions] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON 
GO
INSERT [dbo].[UserRoles] ([Id], [UserId], [RoleId], [IsActive], [AssignedAt]) VALUES (5, 2, 1, 1, CAST(N'2025-09-14T08:15:38.6455801' AS DateTime2))
GO
INSERT [dbo].[UserRoles] ([Id], [UserId], [RoleId], [IsActive], [AssignedAt]) VALUES (6, 3, 4, 1, CAST(N'2025-09-14T08:15:53.1650822' AS DateTime2))
GO
INSERT [dbo].[UserRoles] ([Id], [UserId], [RoleId], [IsActive], [AssignedAt]) VALUES (20, 1, 1, 1, CAST(N'2025-09-30T11:18:52.4667985' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 
GO
INSERT [dbo].[Users] ([Id], [UserName], [PrsId], [IsVisible], [FullName], [MilitaryNumber], [GradeName], [Department], [Email], [Phone], [CreatedAt], [UpdatedAt], [DepartmentId]) VALUES (1, N'hamdy.ali', 1, 1, N'John Smith', N'MIL001234', N'Captain', N'', N'', N'', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2025-09-30T11:18:52.4332730' AS DateTime2), NULL)
GO
INSERT [dbo].[Users] ([Id], [UserName], [PrsId], [IsVisible], [FullName], [MilitaryNumber], [GradeName], [Department], [Email], [Phone], [CreatedAt], [UpdatedAt], [DepartmentId]) VALUES (2, N'mdavis', 2, 1, N'Michael Davis', N'MIL002345', N'Lieutenant', N'', N'', N'', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2025-09-14T08:15:46.7686932' AS DateTime2), NULL)
GO
INSERT [dbo].[Users] ([Id], [UserName], [PrsId], [IsVisible], [FullName], [MilitaryNumber], [GradeName], [Department], [Email], [Phone], [CreatedAt], [UpdatedAt], [DepartmentId]) VALUES (3, N'sjohnson', 3, 1, N'Sarah Johnson', N'MIL003456', N'Major', N'', N'', N'', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2025-09-14T08:15:53.1182587' AS DateTime2), NULL)
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_CalendarEventAssignments_CalendarEventId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_CalendarEventAssignments_CalendarEventId] ON [dbo].[CalendarEventAssignments]
(
	[CalendarEventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CalendarEventAssignments_UserId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_CalendarEventAssignments_UserId] ON [dbo].[CalendarEventAssignments]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CalendarEvents_CreatorId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_CalendarEvents_CreatorId] ON [dbo].[CalendarEvents]
(
	[CreatorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CalendarEvents_ProjectId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_CalendarEvents_ProjectId] ON [dbo].[CalendarEvents]
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CalendarEvents_RequirementId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_CalendarEvents_RequirementId] ON [dbo].[CalendarEvents]
(
	[RequirementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CalendarEvents_SprintId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_CalendarEvents_SprintId] ON [dbo].[CalendarEvents]
(
	[SprintId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MemberTaskAssignments_MemberTaskId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_MemberTaskAssignments_MemberTaskId] ON [dbo].[MemberTaskAssignments]
(
	[MemberTaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MemberTaskAssignments_UserId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_MemberTaskAssignments_UserId] ON [dbo].[MemberTaskAssignments]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MemberTasks_DepartmentId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_MemberTasks_DepartmentId] ON [dbo].[MemberTasks]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MemberTasks_PrimaryAssigneeId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_MemberTasks_PrimaryAssigneeId] ON [dbo].[MemberTasks]
(
	[PrimaryAssigneeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MemberTasks_ProjectId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_MemberTasks_ProjectId] ON [dbo].[MemberTasks]
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MemberTasks_RequirementId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_MemberTasks_RequirementId] ON [dbo].[MemberTasks]
(
	[RequirementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_UserId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_UserId] ON [dbo].[Notifications]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjectRequirementAttachments_ProjectRequirementId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProjectRequirementAttachments_ProjectRequirementId] ON [dbo].[ProjectRequirementAttachments]
(
	[ProjectRequirementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjectRequirements_AnalystId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProjectRequirements_AnalystId] ON [dbo].[ProjectRequirements]
(
	[AnalystId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjectRequirements_CreatorId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProjectRequirements_CreatorId] ON [dbo].[ProjectRequirements]
(
	[CreatorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjectRequirements_ProjectId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProjectRequirements_ProjectId] ON [dbo].[ProjectRequirements]
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Projects_AlternativeOwnerId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Projects_AlternativeOwnerId] ON [dbo].[Projects]
(
	[AlternativeOwnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Projects_OwningUnitId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Projects_OwningUnitId] ON [dbo].[Projects]
(
	[OwningUnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Projects_ProjectOwnerId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Projects_ProjectOwnerId] ON [dbo].[Projects]
(
	[ProjectOwnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RequirementComments_CreatedById]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_RequirementComments_CreatedById] ON [dbo].[RequirementComments]
(
	[CreatedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RequirementComments_RequirementId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_RequirementComments_RequirementId] ON [dbo].[RequirementComments]
(
	[RequirementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Requirements_AssignedToId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Requirements_AssignedToId] ON [dbo].[Requirements]
(
	[AssignedToId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Requirements_ProjectId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Requirements_ProjectId] ON [dbo].[Requirements]
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RequirementTasks_DeveloperId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_RequirementTasks_DeveloperId] ON [dbo].[RequirementTasks]
(
	[DeveloperId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RequirementTasks_ProjectRequirementId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_RequirementTasks_ProjectRequirementId] ON [dbo].[RequirementTasks]
(
	[ProjectRequirementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RequirementTasks_QcId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_RequirementTasks_QcId] ON [dbo].[RequirementTasks]
(
	[QcId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleActions_ActionId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleActions_ActionId] ON [dbo].[RoleActions]
(
	[ActionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleActions_RoleId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleActions_RoleId] ON [dbo].[RoleActions]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Sprints_ProjectId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Sprints_ProjectId] ON [dbo].[Sprints]
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Sprints_TimelineId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Sprints_TimelineId] ON [dbo].[Sprints]
(
	[TimelineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubTasks_AssigneeId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_SubTasks_AssigneeId] ON [dbo].[SubTasks]
(
	[AssigneeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubTasks_DepartmentId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_SubTasks_DepartmentId] ON [dbo].[SubTasks]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubTasks_PriorityId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_SubTasks_PriorityId] ON [dbo].[SubTasks]
(
	[PriorityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubTasks_StatusId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_SubTasks_StatusId] ON [dbo].[SubTasks]
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubTasks_TaskId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_SubTasks_TaskId] ON [dbo].[SubTasks]
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaskAssignments_AssignedAt]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_TaskAssignments_AssignedAt] ON [dbo].[TaskAssignments]
(
	[AssignedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaskAssignments_PrsId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_TaskAssignments_PrsId] ON [dbo].[TaskAssignments]
(
	[PrsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaskAssignments_TaskId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_TaskAssignments_TaskId] ON [dbo].[TaskAssignments]
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_TaskDependencies_TaskId_DependsOnTaskId]    Script Date: 10/1/2025 2:47:23 PM ******/
ALTER TABLE [dbo].[TaskDependencies] ADD  CONSTRAINT [UQ_TaskDependencies_TaskId_DependsOnTaskId] UNIQUE NONCLUSTERED 
(
	[TaskId] ASC,
	[DependsOnTaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaskDependencies_CreatedAt]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_TaskDependencies_CreatedAt] ON [dbo].[TaskDependencies]
(
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaskDependencies_DependsOnTaskId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_TaskDependencies_DependsOnTaskId] ON [dbo].[TaskDependencies]
(
	[DependsOnTaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaskDependencies_TaskId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_TaskDependencies_TaskId] ON [dbo].[TaskDependencies]
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tasks_DepartmentId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Tasks_DepartmentId] ON [dbo].[Tasks]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tasks_ProjectId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Tasks_ProjectId] ON [dbo].[Tasks]
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tasks_SprintId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Tasks_SprintId] ON [dbo].[Tasks]
(
	[SprintId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Timelines_ProjectRequirementId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Timelines_ProjectRequirementId] ON [dbo].[Timelines]
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserActions_ActionId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserActions_ActionId] ON [dbo].[UserActions]
(
	[ActionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserActions_UserId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserActions_UserId] ON [dbo].[UserActions]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRoles_RoleId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserRoles_RoleId] ON [dbo].[UserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRoles_UserId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserRoles_UserId] ON [dbo].[UserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_DepartmentId]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_DepartmentId] ON [dbo].[Users]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_UserName]    Script Date: 10/1/2025 2:47:23 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_UserName] ON [dbo].[Users]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Actions] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[TaskAssignments] ADD  DEFAULT (getutcdate()) FOR [AssignedAt]
GO
ALTER TABLE [dbo].[TaskDependencies] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Teams] ADD  CONSTRAINT [DF_Teams_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CalendarEventAssignments]  WITH CHECK ADD  CONSTRAINT [FK_CalendarEventAssignments_CalendarEvents_CalendarEventId] FOREIGN KEY([CalendarEventId])
REFERENCES [dbo].[CalendarEvents] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CalendarEventAssignments] CHECK CONSTRAINT [FK_CalendarEventAssignments_CalendarEvents_CalendarEventId]
GO
ALTER TABLE [dbo].[CalendarEventAssignments]  WITH CHECK ADD  CONSTRAINT [FK_CalendarEventAssignments_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CalendarEventAssignments] CHECK CONSTRAINT [FK_CalendarEventAssignments_Users_UserId]
GO
ALTER TABLE [dbo].[CalendarEvents]  WITH CHECK ADD  CONSTRAINT [FK_CalendarEvents_Projects_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([Id])
GO
ALTER TABLE [dbo].[CalendarEvents] CHECK CONSTRAINT [FK_CalendarEvents_Projects_ProjectId]
GO
ALTER TABLE [dbo].[CalendarEvents]  WITH CHECK ADD  CONSTRAINT [FK_CalendarEvents_Requirements_RequirementId] FOREIGN KEY([RequirementId])
REFERENCES [dbo].[Requirements] ([Id])
GO
ALTER TABLE [dbo].[CalendarEvents] CHECK CONSTRAINT [FK_CalendarEvents_Requirements_RequirementId]
GO
ALTER TABLE [dbo].[CalendarEvents]  WITH CHECK ADD  CONSTRAINT [FK_CalendarEvents_Sprints_SprintId] FOREIGN KEY([SprintId])
REFERENCES [dbo].[Sprints] ([Id])
GO
ALTER TABLE [dbo].[CalendarEvents] CHECK CONSTRAINT [FK_CalendarEvents_Sprints_SprintId]
GO
ALTER TABLE [dbo].[CalendarEvents]  WITH CHECK ADD  CONSTRAINT [FK_CalendarEvents_Users_CreatorId] FOREIGN KEY([CreatorId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[CalendarEvents] CHECK CONSTRAINT [FK_CalendarEvents_Users_CreatorId]
GO
ALTER TABLE [dbo].[MemberTaskAssignments]  WITH CHECK ADD  CONSTRAINT [FK_MemberTaskAssignments_MemberTasks_MemberTaskId] FOREIGN KEY([MemberTaskId])
REFERENCES [dbo].[MemberTasks] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MemberTaskAssignments] CHECK CONSTRAINT [FK_MemberTaskAssignments_MemberTasks_MemberTaskId]
GO
ALTER TABLE [dbo].[MemberTaskAssignments]  WITH CHECK ADD  CONSTRAINT [FK_MemberTaskAssignments_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MemberTaskAssignments] CHECK CONSTRAINT [FK_MemberTaskAssignments_Users_UserId]
GO
ALTER TABLE [dbo].[MemberTasks]  WITH CHECK ADD  CONSTRAINT [FK_MemberTasks_Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[MemberTasks] CHECK CONSTRAINT [FK_MemberTasks_Departments_DepartmentId]
GO
ALTER TABLE [dbo].[MemberTasks]  WITH CHECK ADD  CONSTRAINT [FK_MemberTasks_Projects_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([Id])
GO
ALTER TABLE [dbo].[MemberTasks] CHECK CONSTRAINT [FK_MemberTasks_Projects_ProjectId]
GO
ALTER TABLE [dbo].[MemberTasks]  WITH CHECK ADD  CONSTRAINT [FK_MemberTasks_Requirements_RequirementId] FOREIGN KEY([RequirementId])
REFERENCES [dbo].[Requirements] ([Id])
GO
ALTER TABLE [dbo].[MemberTasks] CHECK CONSTRAINT [FK_MemberTasks_Requirements_RequirementId]
GO
ALTER TABLE [dbo].[MemberTasks]  WITH CHECK ADD  CONSTRAINT [FK_MemberTasks_Users_PrimaryAssigneeId] FOREIGN KEY([PrimaryAssigneeId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[MemberTasks] CHECK CONSTRAINT [FK_MemberTasks_Users_PrimaryAssigneeId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users_UserId]
GO
ALTER TABLE [dbo].[ProjectRequirementAttachments]  WITH CHECK ADD  CONSTRAINT [FK_ProjectRequirementAttachments_ProjectRequirements_ProjectRequirementId] FOREIGN KEY([ProjectRequirementId])
REFERENCES [dbo].[ProjectRequirements] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProjectRequirementAttachments] CHECK CONSTRAINT [FK_ProjectRequirementAttachments_ProjectRequirements_ProjectRequirementId]
GO
ALTER TABLE [dbo].[ProjectRequirements]  WITH CHECK ADD  CONSTRAINT [FK_ProjectRequirements_Projects_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([Id])
GO
ALTER TABLE [dbo].[ProjectRequirements] CHECK CONSTRAINT [FK_ProjectRequirements_Projects_ProjectId]
GO
ALTER TABLE [dbo].[ProjectRequirements]  WITH CHECK ADD  CONSTRAINT [FK_ProjectRequirements_Users_AnalystId] FOREIGN KEY([AnalystId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ProjectRequirements] CHECK CONSTRAINT [FK_ProjectRequirements_Users_AnalystId]
GO
ALTER TABLE [dbo].[ProjectRequirements]  WITH CHECK ADD  CONSTRAINT [FK_ProjectRequirements_Users_CreatorId] FOREIGN KEY([CreatorId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ProjectRequirements] CHECK CONSTRAINT [FK_ProjectRequirements_Users_CreatorId]
GO
ALTER TABLE [dbo].[RequirementComments]  WITH CHECK ADD  CONSTRAINT [FK_RequirementComments_Requirements_RequirementId] FOREIGN KEY([RequirementId])
REFERENCES [dbo].[Requirements] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RequirementComments] CHECK CONSTRAINT [FK_RequirementComments_Requirements_RequirementId]
GO
ALTER TABLE [dbo].[RequirementComments]  WITH CHECK ADD  CONSTRAINT [FK_RequirementComments_Users_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RequirementComments] CHECK CONSTRAINT [FK_RequirementComments_Users_CreatedById]
GO
ALTER TABLE [dbo].[Requirements]  WITH CHECK ADD  CONSTRAINT [FK_Requirements_Projects_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([Id])
GO
ALTER TABLE [dbo].[Requirements] CHECK CONSTRAINT [FK_Requirements_Projects_ProjectId]
GO
ALTER TABLE [dbo].[Requirements]  WITH CHECK ADD  CONSTRAINT [FK_Requirements_Users_AssignedToId] FOREIGN KEY([AssignedToId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Requirements] CHECK CONSTRAINT [FK_Requirements_Users_AssignedToId]
GO
ALTER TABLE [dbo].[RequirementTasks]  WITH CHECK ADD  CONSTRAINT [FK_RequirementTasks_ProjectRequirements_ProjectRequirementId] FOREIGN KEY([ProjectRequirementId])
REFERENCES [dbo].[ProjectRequirements] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RequirementTasks] CHECK CONSTRAINT [FK_RequirementTasks_ProjectRequirements_ProjectRequirementId]
GO
ALTER TABLE [dbo].[RequirementTasks]  WITH CHECK ADD  CONSTRAINT [FK_RequirementTasks_Users_DeveloperId] FOREIGN KEY([DeveloperId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[RequirementTasks] CHECK CONSTRAINT [FK_RequirementTasks_Users_DeveloperId]
GO
ALTER TABLE [dbo].[RequirementTasks]  WITH CHECK ADD  CONSTRAINT [FK_RequirementTasks_Users_QcId] FOREIGN KEY([QcId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[RequirementTasks] CHECK CONSTRAINT [FK_RequirementTasks_Users_QcId]
GO
ALTER TABLE [dbo].[RoleActions]  WITH CHECK ADD  CONSTRAINT [FK_RoleActions_Actions_ActionId] FOREIGN KEY([ActionId])
REFERENCES [dbo].[Actions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleActions] CHECK CONSTRAINT [FK_RoleActions_Actions_ActionId]
GO
ALTER TABLE [dbo].[RoleActions]  WITH CHECK ADD  CONSTRAINT [FK_RoleActions_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleActions] CHECK CONSTRAINT [FK_RoleActions_Roles_RoleId]
GO
ALTER TABLE [dbo].[Sprints]  WITH CHECK ADD  CONSTRAINT [FK_Sprints_Projects_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([Id])
GO
ALTER TABLE [dbo].[Sprints] CHECK CONSTRAINT [FK_Sprints_Projects_ProjectId]
GO
ALTER TABLE [dbo].[Sprints]  WITH CHECK ADD  CONSTRAINT [FK_Sprints_Timelines_TimelineId] FOREIGN KEY([TimelineId])
REFERENCES [dbo].[Timelines] ([Id])
GO
ALTER TABLE [dbo].[Sprints] CHECK CONSTRAINT [FK_Sprints_Timelines_TimelineId]
GO
ALTER TABLE [dbo].[SubTasks]  WITH CHECK ADD  CONSTRAINT [FK_SubTasks_Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[SubTasks] CHECK CONSTRAINT [FK_SubTasks_Departments_DepartmentId]
GO
ALTER TABLE [dbo].[SubTasks]  WITH CHECK ADD  CONSTRAINT [FK_SubTasks_Lookups_PriorityId] FOREIGN KEY([PriorityId])
REFERENCES [dbo].[Lookups] ([Id])
GO
ALTER TABLE [dbo].[SubTasks] CHECK CONSTRAINT [FK_SubTasks_Lookups_PriorityId]
GO
ALTER TABLE [dbo].[SubTasks]  WITH CHECK ADD  CONSTRAINT [FK_SubTasks_Lookups_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Lookups] ([Id])
GO
ALTER TABLE [dbo].[SubTasks] CHECK CONSTRAINT [FK_SubTasks_Lookups_StatusId]
GO
ALTER TABLE [dbo].[SubTasks]  WITH CHECK ADD  CONSTRAINT [FK_SubTasks_Tasks_TaskId] FOREIGN KEY([TaskId])
REFERENCES [dbo].[Tasks] ([Id])
GO
ALTER TABLE [dbo].[SubTasks] CHECK CONSTRAINT [FK_SubTasks_Tasks_TaskId]
GO
ALTER TABLE [dbo].[SubTasks]  WITH CHECK ADD  CONSTRAINT [FK_SubTasks_Users_AssigneeId] FOREIGN KEY([AssigneeId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[SubTasks] CHECK CONSTRAINT [FK_SubTasks_Users_AssigneeId]
GO
ALTER TABLE [dbo].[TaskAssignments]  WITH CHECK ADD  CONSTRAINT [FK_TaskAssignments_MawaredEmployees] FOREIGN KEY([PrsId])
REFERENCES [dbo].[MawaredEmployees] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaskAssignments] CHECK CONSTRAINT [FK_TaskAssignments_MawaredEmployees]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Departments_DepartmentId]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Projects_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([Id])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Projects_ProjectId]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Sprints_SprintId] FOREIGN KEY([SprintId])
REFERENCES [dbo].[Sprints] ([Id])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Sprints_SprintId]
GO
ALTER TABLE [dbo].[Teams]  WITH CHECK ADD  CONSTRAINT [FK_Teams_Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Teams] CHECK CONSTRAINT [FK_Teams_Departments_DepartmentId]
GO
ALTER TABLE [dbo].[Teams]  WITH CHECK ADD  CONSTRAINT [FK_Teams_Employees_PrsId] FOREIGN KEY([PrsId])
REFERENCES [dbo].[MawaredEmployees] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Teams] CHECK CONSTRAINT [FK_Teams_Employees_PrsId]
GO
ALTER TABLE [dbo].[Teams]  WITH CHECK ADD  CONSTRAINT [FK_Teams_Users_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Teams] CHECK CONSTRAINT [FK_Teams_Users_CreatedBy]
GO
ALTER TABLE [dbo].[Timelines]  WITH CHECK ADD  CONSTRAINT [FK_Timelines_ProjectRequirements_ProjectRequirementId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[ProjectRequirements] ([Id])
GO
ALTER TABLE [dbo].[Timelines] CHECK CONSTRAINT [FK_Timelines_ProjectRequirements_ProjectRequirementId]
GO
ALTER TABLE [dbo].[UserActions]  WITH CHECK ADD  CONSTRAINT [FK_UserActions_Actions_ActionId] FOREIGN KEY([ActionId])
REFERENCES [dbo].[Actions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserActions] CHECK CONSTRAINT [FK_UserActions_Actions_ActionId]
GO
ALTER TABLE [dbo].[UserActions]  WITH CHECK ADD  CONSTRAINT [FK_UserActions_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserActions] CHECK CONSTRAINT [FK_UserActions_Users_UserId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles_RoleId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users_UserId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Departments_DepartmentId]
GO
ALTER TABLE [dbo].[TaskDependencies]  WITH CHECK ADD  CONSTRAINT [CK_TaskDependencies_NotSelf] CHECK  (([TaskId]<>[DependsOnTaskId]))
GO
ALTER TABLE [dbo].[TaskDependencies] CHECK CONSTRAINT [CK_TaskDependencies_NotSelf]
GO
USE [master]
GO
